    <form [formGroup]="productForm" (ngSubmit)="SaveProduct()">
<mat-card>
  <mat-card-header>
    <h2>{{ title }}</h2>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" type="number">
      </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category"
                  [compareWith]="compareCategory">
        <mat-option [value]="">Choisissez une catégorie</mat-option>
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfCreation">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Supplier</mat-label>
      <mat-select formControlName="supplier"
                  [compareWith]="compareSupplier">
        <mat-option [value]="">Choisissez une fournisseur</mat-option>
        <mat-option *ngFor="let sup of suppliers" [value]="sup">
          {{ sup.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          rows="4">
        </textarea>
      </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-raised-button color="primary">Save</button>
    <a mat-raised-button color="accent" (click)="closePopUp()">Close</a>
  </mat-card-actions>
</mat-card>
    </form>
