    <form [formGroup]="productForm" (ngSubmit)="SaveProduct()">
<mat-card>
  <mat-card-header>
    <h2>{{ title }}</h2>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="">Please select category</mat-option>
          <mat-option value="Accessories">Accessories</mat-option>
          <mat-option value="Automotive">Automotive</mat-option>
          <mat-option value="Beauty">Beauty</mat-option>
          <mat-option value="Books">Books</mat-option>
          <mat-option value="Clothing">Clothing</mat-option>
          <mat-option value="Electronics">Electronics</mat-option>
          <mat-option value="Furniture">Furniture</mat-option>
          <mat-option value="Groceries">Groceries</mat-option>
          <mat-option value="Health">Health</mat-option>
          <mat-option value="Home Appliances">Home Appliances</mat-option>
          <mat-option value="Jewelry">Jewelry</mat-option>
          <mat-option value="Office Supplies">Office Supplies</mat-option>
          <mat-option value="Sports">Sports</mat-option>
          <mat-option value="Toys">Toys</mat-option>
          <mat-option value="Tools">Tools</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfCreation">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          rows="4">
        </textarea>
      </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-raised-button color="primary">Save</button>
    <a mat-raised-button color="accent" (click)="closePopUp()">Close</a>
  </mat-card-actions>
</mat-card>
    </form>
