
<mat-card *ngIf="product as p">
  <mat-card-header>
    <h2>{{ title }}</h2>
  </mat-card-header>

  <mat-card-content>
    <div class="cont">
      <div>
        <img ngSrc="assets/shipping.png" alt="Product" height="300" width="300">
      </div>
      <div>
        <p><strong>Name:</strong> {{ p.name }}</p>
        <p><strong>Price:</strong> {{ p.price | currency }}</p>
        <p><strong>Quantity:</strong> {{ p.quantity }}</p>
        <p><strong>Category:</strong> {{ p.category.name }}</p>
        <p><strong>Date:</strong> {{ p.dateOfCreation | date:'mediumDate' }}</p>
        <p><strong>Supplier:</strong> {{ p.supplier.name }}</p>
        <p><strong>Description:</strong></p>
        <p class="description">{{ p.description }}</p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="closePopUp()">Close</button>
  </mat-card-actions>
</mat-card>
