.mdc-button {
  margin: 2px;
}

mat-form-field.Hinput {
  width: 25%;
}

@media (max-width: 768px) {
  .search-field {
    width: 100%;
  }
}
mat-card-content, ng-container, ng-content {
  padding-top: 1%;
}


mat-card-header button {
  color: white;
  background-color: green;
}
