.mdc-button {
  margin: 2px;
}

.center {
  text-align: center;
}

mat-card-content, ng-container, ng-content {
  padding-top: 1%;
}


mat-card-header button {
  color: white;
  background-color: green;
}
